.led{
  border-radius: 50%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.light1-on{
  background-color: red;
}
.light1-off{
  background-color: none;
}
.light2-on{
  background-color: yellow;
}
.light2-off{
  background-color: none;
}.light3-on{
  background-color:green;
}
.light3-off{
  background-color: none;
}
button{
  cursor: pointer;
}